<div class="page-content checkout-login container_16 width-min-max clearfix signin" style="position: relative; margin-top:3em; max-width: initial;">
    <div class="row">
        <div class="large-12 columns">
            <o.checkoutwithlogin></o.checkoutwithlogin>
            <!--<script type="text/javascript">-->
                <!--function guestCheckOut(){-->
                    <!--document.getElementById('guestCheckoutForm').submit();-->
                <!--}-->
                <!--registerDialog('termsAndConditions-fBox','termsAndConditions-fBoxDiv','/estore/responsive/en/common/policies/frags/childOnlinePrivacyTerms.jsp');-->
            <!--</script>-->
            <o.checkoutwithoutlogin></o.checkoutwithoutlogin>
        </div>
    </div>
</div>