<div class="row columns shipping-item">
    <!-- shipping header -->
    <div class="row columns shipping-head">
        <div class="medium-2 columns">
            <span class="arrow-shipping">Shipping to:</span>
        </div>
        <div class="medium-5 columns">
            <div class="shipping-address-inline">
                Michael Chen,
                5555 King of Boxing,
                San Antonio,
                TX

                &nbsp;78249
            </div>
        </div>
        <!--  <div class="grid_4"> this div and below line is commented to fix DE1938 -->

        <div class="medium-5 columns shipping_diff_address">
            <a href="javascript:setAtrributeOnOpen('fbnewContactLink','selectedCommerceItemId=ci1687007635&amp;multiple=true');" class="button hollow small">ship to different address?</a>
            <!-- </div> -->
        </div>
    </div>
    <!-- end shipping header -->
    <!-- product shipping info -->
    <div class="shipping-body row columns">
        <div class="medium-2 columns cart-img">
            <!-- ==== Product Image ==== -->

            <img src="https://www.iprint.com/services/UGCGetFileFromServer/2017/05/23/09/22/145518448/savedDesign/1722528053/TMBLR1470173533_layout1_3c401b18.png?HCAuthToken=BrY%2B7wLHvH91T3VWdGp0NyF%2BAsYCKznJcl18OQzW%2FzlyW3suCglT6x6o7DwWrzby8WE1vOq0q1xp_--LtkgpW1xbQ%3D%3D&amp;HCAuthKeyRef=URL:8&amp;noCache=1495636490515" alt="Thumbnail image" width="120" onmouseover="TagToTip('tooltipci1687007635', PADDING, 6, BGCOLOR, '#ffffff')" onmouseout="UnTip()">


            <div id="tooltipci1687007635" style="display:none" class="quickviewContainer">
                <div class="quickview">
                    <img class="imgMain tooltip-img-hover" alt="Thumbnail image" src="https://www.iprint.com/services/UGCGetFileFromServer/2017/05/23/09/22/145518448/savedDesign/1722528053/TMBLR1470173533_layout1_3c401b18.png?HCAuthToken=BrY%2B7wLHvH91T3VWdGp0NyF%2BAsYCKznJcl18OQzW%2FzlyW3suCglT6x6o7DwWrzby8WE1vOq0q1xp_--LtkgpW1xbQ%3D%3D&amp;HCAuthKeyRef=URL:8&amp;noCache=1495636490515">
                </div>
            </div>
            <!-- ==== End Product Image ==== -->
        </div>
        <div class="medium-4 columns">
<span class="walmartOmnitureShippingProductInfo" style="display:none">
prod3130081_prd-Color Grip Tumbler;1;272.4
</span>
            <p>
            </p><div class="shopping-cart-item item-name">Color Grip Tumbler</div>
            <div class="shopping-cart-item item-number">item #&nbsp;ci1687007635</div>
            <br>
            <p></p>
            <p>


                <br>
                <br>


            </p>
        </div>
        <div class="medium-3 columns">


            <form id="prodRushForm0" action="#"><div style="display:none"><input name="_dyncharset" value="ISO-8859-1" type="hidden"> </div><div style="display:none"><input name="_dynSessConf" value="-9057346389623360765" type="hidden"> </div>


                <span class="cart-production-time">
Production time:</span>
                <span class="cart-production-time-days">
7 business day(s)
</span>
                <input name="/atg/commerce/order/purchase/RCProductionRushFormHandler.shippingGroupId" value="sg23943176" type="hidden"><input name="_D:/atg/commerce/order/purchase/RCProductionRushFormHandler.shippingGroupId" value=" " type="hidden"><input id="selectedSM0" name="/atg/commerce/order/purchase/RCProductionRushFormHandler.selectedShippingMethodId" value="" type="hidden"><input name="_D:/atg/commerce/order/purchase/RCProductionRushFormHandler.selectedShippingMethodId" value=" " type="hidden">
                <input name="/atg/commerce/order/purchase/RCProductionRushFormHandler.successURL" value="/estore/en/checkout/shippingMethod.jsp" type="hidden"><input name="_D:/atg/commerce/order/purchase/RCProductionRushFormHandler.successURL" value=" " type="hidden">
                <input name="/atg/commerce/order/purchase/RCProductionRushFormHandler.errorURL" value="/estore/en/checkout/shippingMethod.jsp" type="hidden"><input name="_D:/atg/commerce/order/purchase/RCProductionRushFormHandler.errorURL" value=" " type="hidden">
                <input id="prodRushId0" name="/atg/commerce/order/purchase/RCProductionRushFormHandler.prodRushId" value="" type="hidden"><input name="_D:/atg/commerce/order/purchase/RCProductionRushFormHandler.prodRushId" value=" " type="hidden">
                <input name="/atg/commerce/order/purchase/RCProductionRushFormHandler.prodRush" value="" type="hidden"><input name="_D:/atg/commerce/order/purchase/RCProductionRushFormHandler.prodRush" value=" " type="hidden"><div style="display:none"><input name="_DARGS" value="/estore/responsive/en/checkout/component/shippingMethodBody.jsp" type="hidden"> </div></form></div>
        <div class="medium-3 columns choose-ship-method expanded">
            <form id="shippingMethodForm0" name="shippingMethodForm0" action="/estore/en/checkout/shippingMethod.jsp?_DARGS=/estore/responsive/en/checkout/component/shippingMethodBody.jsp.1" method="post"><div style="display:none"><input name="_dyncharset" value="ISO-8859-1" type="hidden"> </div><div style="display:none"><input name="_dynSessConf" value="-9057346389623360765" type="hidden"> </div>

                <input name="/atg/commerce/order/purchase/CartModifierFormHandler.shipMethodSuccessURL" value="/estore/en/checkout/shippingMethod.jsp" type="hidden"><input name="_D:/atg/commerce/order/purchase/CartModifierFormHandler.shipMethodSuccessURL" value=" " type="hidden">
                <input name="/atg/commerce/order/purchase/CartModifierFormHandler.shipMethodErrorURL" value="/estore/en/checkout/shippingMethod.jsp" type="hidden"><input name="_D:/atg/commerce/order/purchase/CartModifierFormHandler.shipMethodErrorURL" value=" " type="hidden">








                <div class="shipping_option row columns callout">
                    <div class="shipping-radio small-3 column expanded">
                        <input id=" %=shipIndex%" name="shipping" value="sg23943176~UPS~UPS Ground ~10.6672~selected~03~http://wwwapps.ups.com/WebTracking/OnlineTool?InquiryNumber1~06-07-2017 01:00:00~null~null" onclick="captureShippingMethod(0)" type="radio" checked="checked"><input name="_D:shipping" value=" " type="hidden">
                        <input name="/atg/commerce/order/purchase/CartModifierFormHandler.shipPriceInput" value="" type="hidden"><input name="_D:/atg/commerce/order/purchase/CartModifierFormHandler.shipPriceInput" value=" " type="hidden"></div>
                    <div class="shipping-text small-9 column expanded">
                        <div class="delivery-provider">




                            <label class="radioLabel" for="0">UPS Ground  - $10.67</label><br>

                        </div>
                        <div class="delivery-est">Est delivery by Wednesday, 06/07</div>
                    </div>
                </div>



                <div class="shipping_option row columns callout">
                    <div class="shipping-radio small-3 column expanded">
                        <input id=" %=shipIndex%" name="shipping" value="sg23943176~UPS~UPS 2nd Day~24.1074~selected~02~http://wwwapps.ups.com/WebTracking/OnlineTool?InquiryNumber1~06-06-2017 01:00:00~null~null" onclick="captureShippingMethod(0)" type="radio"><input name="_D:shipping" value=" " type="hidden">
                        <input name="/atg/commerce/order/purchase/CartModifierFormHandler.shipPriceInput" value="" type="hidden"><input name="_D:/atg/commerce/order/purchase/CartModifierFormHandler.shipPriceInput" value=" " type="hidden"></div>
                    <div class="shipping-text small-9 column expanded">
                        <div class="delivery-provider">




                            <label class="radioLabel" for="0">UPS 2nd Day - $24.11</label><br>

                        </div>
                        <div class="delivery-est">Est delivery by Tuesday, 06/06</div>
                    </div>
                </div>



                <div class="shipping_option row columns callout">
                    <div class="shipping-radio small-3 column expanded">
                        <input id=" %=shipIndex%" name="shipping" value="sg23943176~UPS~UPS Next Day~32.2966~selected~01~http://wwwapps.ups.com/WebTracking/OnlineTool?InquiryNumber1~06-05-2017 01:00:00~null~null" onclick="captureShippingMethod(0)" type="radio"><input name="_D:shipping" value=" " type="hidden">
                        <input name="/atg/commerce/order/purchase/CartModifierFormHandler.shipPriceInput" value="" type="hidden"><input name="_D:/atg/commerce/order/purchase/CartModifierFormHandler.shipPriceInput" value=" " type="hidden"></div>
                    <div class="shipping-text small-9 column expanded">
                        <div class="delivery-provider">




                            <label class="radioLabel" for="0">UPS Next Day - $32.30</label><br>

                        </div>
                        <div class="delivery-est">Est delivery by Monday, 06/05</div>
                    </div>
                </div>
                <div style="display:none"><input name="_DARGS" value="/estore/responsive/en/checkout/component/shippingMethodBody.jsp.1" type="hidden"> </div></form>
        </div>
    </div>
    <!-- end product shipping info -->
</div>