<a.modal class="newproduct-modal" :class="{ 'newproduct-confirm': confirm }" style="display:none;">
    <div slot="header">
    </div>
    <div slot="body">
        <a.row v-if="!confirm">
            <a.col s="5">
                <div class="card">
                    <img style="width:100%;" src="../../assets/png/demo-products.png">
                </div>
            </a.col>
            <a.col s="6">
                <h6>Name of Product</h6>
                <span style="color: #b0b0b0;">Product Code: KT-L</span>
                <a.button hollow="1" secondary="1" title="$33.12" style="display: block;cursor: default;width: 100px;font-weight: bold;top: 20px;position: relative;"></a.button>
                <div class="newproduct-add-btn">
                    <p>Quantity</p>
                    <input type="number" placeholder="1">
                    <div @click="add" style="display: inline;">
                        <a.button :title="addIt"></a.button>
                    </div>
                </div>
            </a.col>
            <div @click="closeModal">
                <a.col s="1" style="top: -40px;left: 13px;position: relative;font-size: 30px;cursor: pointer;">
                    X
                </a.col>
            </div>
        </a.row>
        <a.row v-if="confirm" >
            <a.col s="12" style="text-align: center;">
                <h6 style="padding-bottom: 1em;">Do you wish to add this item to your cart.</h6>
                <div @click="closeModal" style="display: inline;">
                    <a.button style="width:170px;" hollow="1" secondary="1" title="NO"></a.button>
                </div>
                <div @click="closeModal" style="display: inline;">
                    <a.button style="width:170px;" title="YES"></a.button>
                </div>
            </a.col>
        </a.row>
        <div v-if="confirm" @click="closeModal">
            <a.col s="1" style="top: -150px;left: 380px;position: relative;font-size: 30px;cursor: pointer;">
                X
            </a.col>
        </div>
    </div>
</a.modal>