<div>
    <div class="medium-6 columns">
        <div class="callout">
            <div class="row expanded columns">
                <div class="large-12 columns">
                    <h2>Continue Without Signing In</h2>
                </div>
            </div>
            <div class="row expanded columns">
                <div class="large-12 columns">
                    No time right now?  No problem, check out as a guest.
                </div>
            </div>
            <form id="guestCheckoutForm" name="guestCheckoutForm" action="/estore/en/usr/reauthenticate/guestCheckOut.jsp?_DARGS=/estore/responsive/en/usr/reauthenticate/component/guestCheckOutFrag.jsp.guestCheckoutForm" method="post"><div style="display:none"><input name="_dyncharset" value="ISO-8859-1" type="hidden"> </div><div style="display:none"><input name="_dynSessConf" value="-1654890127847186552" type="hidden"> </div>
                <input name="/atg/userprofiling/EditProfileFormHandler.guestLoginErrorUrl" value="/estore/en/usr/reauthenticate/guestCheckOut.jsp" type="hidden"><input name="_D:/atg/userprofiling/EditProfileFormHandler.guestLoginErrorUrl" value=" " type="hidden">
                <input name="/atg/userprofiling/EditProfileFormHandler.guestLoginSuccessUrl" value="/estore/en/checkout/shippingInfo.jsp" type="hidden"><input name="_D:/atg/userprofiling/EditProfileFormHandler.guestLoginSuccessUrl" value=" " type="hidden">
                <div class="row columns required">
                    <div class="medium-3 columns text-right">
                        <label for="guest-email" id="emailLabel" class="font-normal">email address<sup>*</sup></label>
                    </div>
                    <div class="medium-9 columns">
                        <input id="email" maxlength="100" name="email" value="" onkeydown="return (event.keyCode!=13);" type="text" autocomplete="off" size="50"><input name="_D:email" value=" " type="hidden"></div>
                </div>
                <div class="row columns">
                    <div class="medium-3 columns text-right">
                        &nbsp;
                    </div>
                    <div class="medium-9 columns labelstd">
                        <input id="emailPreferences" name="customerType" value="true" class="checkBox" type="checkbox" checked="checked"><input name="_D:customerType" value=" " type="hidden">


                        <label for="send-me" class="font-normal">Yes, please send me iPrint exclusive offers and promotions.  See our


                            <a id="privacyPolicyLink" href="/estore/en/common/policies/privacy.jsp" target="_blank">Privacy Policy</a><br>
                        </label>
                    </div>
                </div>
                <!-- AGE VALIDATION START -->


                <!-- AGE VALIDATION END -->
                <br>
                <div class="row columns">
                    <div class="medium-3 columns">&nbsp;</div>
                    <div class="medium-9 columns">
                        <a title="Continue as a guest" class="button ajaxForm disabled" href="javascript:guestCheckOut();"><span>Check Out As Guest</span></a>
                    </div>
                </div>
                <input name="/atg/userprofiling/EditProfileFormHandler.guestCheckout" value="" type="hidden"><input name="_D:/atg/userprofiling/EditProfileFormHandler.guestCheckout" value=" " type="hidden"><div style="display:none"><input name="_DARGS" value="/estore/responsive/en/usr/reauthenticate/component/guestCheckOutFrag.jsp.guestCheckoutForm" type="hidden"> </div></form><div id="termsAndConditions-fBoxDiv" style="display:none;"></div>
        </div>
    </div>
    <!-- Signin Container Ends -->
    <div style="display: none;">
        <div id="termsAndConditions-fBoxDiv" style="display:none">
        </div>
    </div>
</div>