<div>
    <m.header step="WELCOME"></m.header>
    <img alt="Harland Clarke" :src="bgImg"/>
    <m.footer></m.footer>
    <a.modal class="welcome-modal">
        <div slot="header">
            <h6 style="margin-bottom: 0">Hello, Matt. Looking for more checks?</h6>
            <span style="font-size: 0.7em;">Order the same designs as before with “quick reorder” or browse other options.</span>
        </div>
        <div slot="body">
            <a.row>
                <a.col s="8">
                    <img src="../../assets/png/demo-welcome.png">
                </a.col>
                <a.col s="4">
                    <a.button style="width: 100%" title="QUICK REORDER"></a.button>
                    <a.button style="width: 100%" hollow="1" secondary="1" title="SHOP THE CATALOG"></a.button>
                </a.col>
            </a.row>
            <a.row style="padding-top: 0.5em;">
                <a.col s="12">
                    <span>Lasted Ordered: 07/05/14 | </span><a href="#">View order status</a>
                </a.col>
            </a.row>
        </div>
    </a.modal>
    <a.modal class="welcome-modal welcome-promo-content">
        <div slot="header">
        </div>
        <div slot="body" style="text-align: center;">
            <span style="font-size: 0.9em;color: gray;">PROMOTIONAL CONTENT</span>
        </div>
    </a.modal>
</div>
