<div class="large-12 row columns">
    <div class="large-9 medium-12 columns clearfix alpha">
        <div class="cart-container">
            <div class="grid_16 alpha">
                <h1 id="cartPage">Shopping Cart</h1>
            </div>
            <div class="grid_16 alpha">
                <table border="0" id="cart-table">
                    <colgroup>
                        <col class="cart-pro-description-col">
                        <col class="cart-quantity-col">
                        <col class="cart-price-col">
                    </colgroup>
                    <thead>
                        <tr class="cart-head">
                            <th scope="col">Item Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" class="pricehdr">Price</th>
                        </tr>
                    </thead>
                    <style rel="stylesheet" type="text/css">
                        .cart-gift-message {
                            margin-top: 20px;
                        }
                        
                        .cart-gift-message span {
                            display: block;
                        }
                        
                        .cart-gift-message textarea {
                            width: 320px;
                            border: 1px solid #e0e0e0;
                            height: 45px;
                            resize: none;
                            margin: 0px !important;
                        }
                        
                        .cart-gift-message-val-area {
                            width: 320px;
                            display: block;
                        }
                        
                        .cart-gift-message-err-val {
                            color: #FC8D8D;
                            display: none;
                            float: left;
                        }
                        
                        .cart-gift-message-remaining {
                            float: right;
                            font-weight: normal;
                        }
                        
                        .cart-gift-message-remaining-count {
                            display: inline !important;
                        }
                    </style>
                    <tbody>
                        <tr v-for="item in data.order.commerceItems" :id="item.id" >
                            <td class="pro-description">
                                <div class="cart-img">
                                    <img src="https://www.iprint.com/services/UGCGetFileFromServer/2017/05/03/12/12/145111746/savedDesign/452118531/TMBLR1470173494_layout1_71bab501.png?HCAuthToken=MCdE%2BD%2F3k1gPcrQ%2BEjM2UeEp23Ml7sOA55g8qLMLXlWcfGrZW9fgq6a3WYt4n4mdf6ebFB4u6aJI_--OPyUW0685w%3D%3D&amp;HCAuthKeyRef=URL:8&amp;noCache=1493833897093"
                                        alt="Thumbnail image" width="120" onmouseover="TagToTip('tooltipci1670008494', PADDING, 6, BGCOLOR, '#ffffff')"
                                        onmouseout="UnTip()"/>
                                    <span class="manage-cartitem-links">
                                        <a href="/estore/PROMOTIONAL+PRODUCTS/Drinkware/Gripper+Poly-Clear%C2%AE+Bottle/prod3130077_prd.p?commerceItemId=ci1670008494">edit</a> |
                                        <a href="javascript:setAtrributeOnOpen('removeproductlink','removalRelationShipId=r23545224&amp;productId=prod3130077_prd');">delete</a>
                                    </span>
                                </div>
                                <div class="cart-pro-info-container">
                                    <span class="shopping-cart-item cart-product-name">
                                        <strong>{{ item.productDisplayName}}</strong>
                                        <span class="shopping-cart-item item-number"><strong>item # </strong>{{ item.id}}</span>
                                        <div class="cart-upsell upsell-item">
                                            <div class="cart-upsell-item">
                                                <strong> One-time setup fee </strong>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </td>
                            <td class="cart-quantity">
                                <form id="quantityForm" name="quantityForm" action="/estore/en/checkout/shoppingCart.jsp?_DARGS=/estore/responsive/en/checkout/component/shoppingCartBodyFrag.jsp.quantityForm"
                                    method="post">
                                    <select name="r23545224" value="1">
                                        <option value="50" selected="true">50 - ${{item.priceInfo.amount}}</option>
                                        <option value="100">100 - ${{(item.priceInfo.amount*2).toFixed(2)}}</option>
                                        <option value="200">200 - ${{(item.priceInfo.amount*4).toFixed(2)}}</option>
                                        <option value="500">500 - ${{(item.priceInfo.amount*10).toFixed(2)}}</option>
                                        <option value="1000">1000 - ${{(item.priceInfo.amount*20).toFixed(2)}}</option>
                                        <option value="2500">2500 - ${{(item.priceInfo.amount*50).toFixed(2)}}</option>
                                    </select>
                                </form>
                            </td>
                            <td class="cart-price">
                                <span class="shopping-cart-item item-price">${{item.priceInfo.amount}}</span>
                                <div class="cart-upsell upsell-price">
                                    <span class="shopping-cart-item sub-price">${{item.priceInfo.amount}}</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row columns coupon_claim">
                    <div class="small-12 columns">
                        <div class="apply-promo-code">
                            <div class="cart-promotion">
                                <form id="couponclaim" name="couponclaim" action="/estore/en/checkout/shoppingCart.jsp?_DARGS=/estore/responsive/en/checkout/component/CouponClaim.jsp"
                                    method="post">
                                    <div style="display:none"><input name="_dyncharset" value="ISO-8859-1" type="hidden"> </div>
                                    <div style="display:none"><input name="_dynSessConf" value="-2956003023300720005" type="hidden"> </div>
                                    <label>Enter Promo Code: </label>
                                    <input name="/atg/commerce/promotion/CouponFormHandler.claimCouponSuccessURL" value="/estore/en/checkout/shoppingCart.jsp"
                                        type="hidden"><input name="_D:/atg/commerce/promotion/CouponFormHandler.claimCouponSuccessURL"
                                        value=" " type="hidden"><input name="/atg/commerce/promotion/CouponFormHandler.claimCouponErrorURL"
                                        value="/estore/en/checkout/shoppingCart.jsp" type="hidden"><input name="_D:/atg/commerce/promotion/CouponFormHandler.claimCouponErrorURL"
                                        value=" " type="hidden">
                                    <input id="couponCode" maxlength="15" name="/atg/commerce/promotion/CouponFormHandler.couponClaimCode" value="" type="text"
                                        size="25"><input name="_D:/atg/commerce/promotion/CouponFormHandler.couponClaimCode"
                                        value=" " type="hidden">
                                    <div class="cart-promotion-btn">&nbsp;<input name="/atg/commerce/promotion/CouponFormHandler.claimCoupon" value="Apply"
                                            class="submit button ajaxForm" type="submit"><input name="_D:/atg/commerce/promotion/CouponFormHandler.claimCoupon"
                                            value=" " type="hidden"></div>
                                    <div style="display:none"><input name="_DARGS" value="/estore/responsive/en/checkout/component/CouponClaim.jsp"
                                            type="hidden"> </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-subtotal">
                    <span class="cart-subTotal orderTotal">Product Subtotal: <span>${{data.order.priceInfo.subtotal}}</span></span>
                    <span class="cart-subTotal subtotal">Order Total Before Shipping and Tax: <span>${{data.order.priceInfo.total}}</span></span>
                </div>
                <div class="contShop-checkout">
                    <a href="/estore/index.jsp?lightbox=false" class="button ajaxForm margin-right-10px">Continue Shopping</a>
                    <a href="/estore/en/checkout/shippingInfo.jsp" class="cta button ajaxForm checkout" onclick="setAnalytics('proceedToCheckout','')">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="large-3 medium-12 columns">
        <div class="cart-crossSell-container">
            <h4>Recommended Products</h4>
            <ul class="cart-matching-products row small-up-1 medium-up-2 large-up-3 xlarge-up-4 xxlarge-up-4">
                <li v-for="recom in data.recommendedProducts" class="row">
                    <a :href="recom.productUrl" class="grid_16 alpha omega">
                        <img :src="recom.imageUrl" :alt="recom.productName" height="120"
                            width="120" data-pin-nopin="true">
                        <h5>{{recom.productName}}</h5>
                        <span class="pd-price">as low as <strong>{{recom.unitprice}}</strong></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>