<div class="description-font" style="width: 110%">
    <h6>DESCRIPTION</h6>
    <a.row>
        <a.col s="8">
            <span>4 Check Scenes</span>
            <span>Distinctive Type Style Included</span>
            <span>Patented Security Features</span>
            <span>Printed on Recycled Features</span>
            <a href="#" style="font-size: 0.9em">Show more</a>
        </a.col>
        <a.col s="4">
            <img src="../../assets/png/demo-ecohealth.png">
        </a.col>
    </a.row>

</div>
