<div>
    <div style="padding: 0 12%;">
        <div class="row">
            <a.menu class="float-right">
                <a.menuitem href="https://www.google.com" title="Order Status"></a.menuitem>
                <a.menuitem href="#" title="Language"></a.menuitem>
                <a.menuitem href="#" title="Logout"></a.menuitem>
                <a.menuitem href="#" title="Cart" icon="fi-shopping-cart"></a.menuitem>
            </a.menu>
        </div>
        <div class="row">
            <img alt="Harland Clarke" src="/assets/gif/Harland-Clarke-Order-My-Checks.gif" style="float:left;position:relative;width:190px;top: -10px;"/>
            <a.menu class="float-right">
                <a.menuitem href="#" title="Personal Products"></a.menuitem>
                <a.menuitem href="#" title="Business Products"></a.menuitem>
                <a.menuitem href="#" title="Customer Service"></a.menuitem>
                <a.menuitem href="#" title="About"></a.menuitem>
            </a.menu>
        </div>
    </div>
    <a.stepbar step="LOGIN"></a.stepbar>
</div>
