<div>
    <h5 style="display: inline;">{{title}}</h5>
    <div style="font-size: .9em;float: right;">
        <a href="#" @click="editLeftAccent">Edit |</a><a href="#"> Remove</a>
    </div>
    <a.row style="margin-top:1em;">
        <a.col s="6">
            <div class="card">
                <img src="../../assets/png/demo-dog.png">
            </div>
            <div v-if="!isEdit" style="font-size: 0.9em;">
                <span>Puppy Dog</span>
                <span style="float: right;color: #b0b0b0;">$5.00</span>
            </div>
        </a.col>
        <div v-if="isEdit" class="leftaccent-btns">
            <a.col s="6">
                <a.button hollow="1" secondary="1" title="$3.00" style="cursor: default;font-weight: bold;"></a.button>
                <a.button style="width:100%;" hollow="1" success="1"  title="SAVE & CONTINUE"></a.button>
                <a.button hollow="1" secondary="1" title="CLEAR ICON" style="width:100%;"></a.button>
            </a.col>
        </div>
    </a.row>
    <hr v-if="!isEdit" style="border-bottom: 2px solid #bebebe;"/>
    <div v-if="isEdit" class="leftaccent-card">
        <a.row>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
        </a.row>
        <a.row>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
        </a.row>
        <a.row>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
            <a.col s="4">
                <div class="card">
                    <img src="../../assets/png/demo-blank.png">
                </div>
                <span>Puppy Dog</span>
            </a.col>
        </a.row>
        <ul class="pagination" role="navigation" aria-label="Pagination" style="text-align: center;">
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li><a href="#" aria-label="Page 3">3</a></li>
            <li><a href="#" aria-label="Page 4">4</a></li>
            <li class="ellipsis" aria-hidden="true"></li>
            <li><a href="#" aria-label="Page 12">12</a></li>
            <li><a href="#" aria-label="Page 13">13</a></li>
            <li class="pagination-next"><a href="#" aria-label="Next page"><span class="show-for-sr">page</span></a></li>
        </ul>
    </div>
</div>