<div>
    <m.header step="SHOP THE CATALOG"></m.header>
    <div class="header-spacer"></div>
    <a.row>
        <a.col sc="1" s="10">
            <a.row style="margin: 2em 0;">
                <a.col s="8">
                    <h4>Browse all our products to find the right ones for you.</h4>
                </a.col>
                <a.col s="4">
                    <input type="search" placeholder="Search">
                </a.col>
            </a.row>
            <m.carousel src="../../assets/png/demo-catalog.png"></m.carousel>
        </a.col>
    </a.row>

    <div class="top-bar">
        <a.row>
            <a.col sc="1" s="10">
                <div class="menu-centered catalog-font">
                    <ul class="menu">
                        <li><a href="#" @click="template = 0">CHECKS</a></li>
                        <li>  |  </li>
                        <li><a href="#" @click="template = 1">HOME OFFICE</a></li>
                        <li>  |  </li>
                        <li><a href="#">COVER AND WALLETS</a></li>
                        <li>  |  </li>
                        <li><a href="#">ADDRESS LABELS</a></li>
                        <li>  |  </li>
                        <li><a href="#">DEPOSIT TICKETS</a></li>
                        <li>  |  </li>
                        <li><a href="#">STAMPS</a></li>
                        <li>  |  </li>
                        <li><a href="#">OTHER ACCESSORIES</a></li>
                    </ul>
                </div>
            </a.col>
        </a.row>
    </div>

    <div v-if="template == 0">
        <a.row>
            <a.col s="8" sp="1" style="padding: 2em 0;">
                <h4>Shop Check Designs</h4>
                <span style="font-size: 0.9em;">Use the filters below to explore categories.</span>
            </a.col>
        </a.row>
        <a.row class="catalog-list">
            <a.col s="10" sc="1">
                <a.col s="3">
                    <span style="position: relative;bottom: 0.5em;font-size: 0.9em;">FILTER BY:</span>
                    <a.buttongroup>
                        <a.button hollow="1" secondary="1" title="MOST POPULAR CHECKS"></a.button>
                        <a.button hollow="1" secondary="1" title="COLLEGE & SPORTS"></a.button>
                        <a.button hollow="1" secondary="1" title="JUST FOR FUN"></a.button>
                        <a.button hollow="1" secondary="1" title="CAUSES"></a.button>
                        <a.button hollow="1" secondary="1" title="NATURE & ANIMALS"></a.button>
                        <a.button hollow="1" secondary="1" title="CULTURE & INSPIRATION"></a.button>
                        <a.button hollow="1" secondary="1" title="CLASSICS"></a.button>
                        <a.button hollow="1" secondary="1" title="HOME OFFICE"></a.button>
                    </a.buttongroup>
                </a.col>
                <a.col s="9">
                    <span style="position: relative;bottom: 0.5em;font-size: 0.9em;color:#b0b0b0;">( 700 Results )</span>
                    <ul>
                        <li v-for="check in checks">
                            <a.col s="4">
                                <img :src="check.src">
                                <p>{{check.name}}</p>
                            </a.col>
                        </li>
                    </ul>
                    <a.modal class="catalog-modal" style="padding: 0.5em 0 2em 0">
                        <div slot="body" style="text-align: center;">
                            <div>
                                <span>PROMOTIONAL CONTENT</span>
                            </div>
                        </div>
                    </a.modal>
                    <ul>
                        <li v-for="check in checks">
                            <a.col s="4">
                                <img :src="check.src">
                                <p>{{check.name}}</p>
                            </a.col>
                        </li>
                    </ul>
                    <a.col sc="1" style="padding: 1em 0;">
                        <m.pagination></m.pagination>
                    </a.col>
                </a.col>
            </a.col>
        </a.row>
    </div>

    <div v-if="template == 1">
        <a.row class="catalog-list">
            <a.col sc="1" s="10">
                <div>
                    <h4 style="margin: 2em 0 1em 0;">Popular Check Categories</h4>
                    <ul>
                        <li v-for="check in categories">
                            <a.col s="3">
                                <img :src="check.src">
                                <p>{{check.name}}</p>
                            </a.col>
                        </li>
                    </ul>
                </div>
            </a.col>
        </a.row>

        <a.row style="text-align: center;">
            <a.button style="margin: 1em 0 3em 0;" title="SHOP ALL CHECKS"></a.button>
        </a.row>

        <a.row style="margin-bottom: 4em;">
            <a.col sc="1" s="10">
                <a.col s="5">
                    <a.modal class="catalog-modal">
                        <div slot="body" style="text-align: center;">
                            <div>
                                <span>PROMOTIONAL CONTENT</span>
                            </div>
                        </div>
                    </a.modal>
                </a.col>
                <a.col s="7">
                    <a.modal class="catalog-modal">
                        <div slot="body" style="text-align: center;">
                            <div>
                                <span>PROMOTIONAL CONTENT</span>
                            </div>
                        </div>
                    </a.modal>
                </a.col>
            </a.col>
        </a.row>
    </div>
    <m.footer></m.footer>
</div>
