<a.modal class="signinorup-modal">
    <div>
        <div id="sign-in-modal" class="" style="display: block;">
            <!-- PPNote <script type="text/javascript" src="//cdn-uat.hc-retail.com/resources/store/scripts/actionableButtons.js"></script> -->

            <div id="body-content" class="clearfix login-modal">
                <div class="container-responsive">
                    <div class="row">
                        <div class="large-8 columns">
                            <h1 class="h3">
                                <span id="accountSignIn">Sign In or Create a New Account</span>
                            </h1>

                            <p class="subheader margin-top-0">

                                Enter your email address and password to sign in.  If you do not have an account, create one now.
                            </p>
                            <div class="required_disabled">
                                <div>
                                    <input type="radio" name="customerType" value="new" id="newCutomerTypeBtn" @click="toggleForm('registrationSection');clearErrorMsg('formErrorDivContainer');">
                                    <label class="text-primary" for="newCutomerTypeBtn" id="newCutomerType">I’m a new customer</label>
                                </div>
                                <div>
                                    <input type="radio" name="customerType" checked="checked" value="returning" class="radioButton" id="returningCutomerTypeBtn" @click="toggleForm('loginSection');clearErrorMsg('formErrorDivContainer');">
                                    <label class="text-primary" for="returningCutomerTypeBtn" id="returningCutomerType">Returning customer</label>
                                </div>

                                <form id="loginForm" name="loginForm" action="/estore/responsive/en/usr/component/login.jsp?_DARGS=/estore/responsive/en/usr/component/login.jsp.loginForm" method="post"><input name="_dyncharset" value="ISO-8859-1" type="hidden"><input name="_dynSessConf" value="-2073924661865543673" type="hidden">
                                    <div id="loginSection" style="display: block;">
                                        <input name="/atg/userprofiling/RCProfileFormHandler.abandoned" value="" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.abandoned" value=" " type="hidden"><input name="/atg/userprofiling/RCProfileFormHandler.abandonedDiscount" value="" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.abandonedDiscount" value=" " type="hidden">

                                        <input name="/atg/userprofiling/RCProfileFormHandler.loginSuccessURL" value="/estore/en/common/dialogSuccess.jsp" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.loginSuccessURL" value=" " type="hidden"><input name="/atg/userprofiling/RCProfileFormHandler.loginErrorURL" value="/estore/responsive/en/usr/component/login.jsp" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.loginErrorURL" value=" " type="hidden">

                                        <!-- always display empty username/login fields to our visitor -->
                                        <input name="/atg/userprofiling/RCProfileFormHandler.extractDefaultValuesFromProfile" value="false" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.extractDefaultValuesFromProfile" value=" " type="hidden"><input name="/atg/userprofiling/RCProfileFormHandler.isExistingUser" value="Y" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.isExistingUser" value=" " type="hidden"><input name="/atg/userprofiling/RCProfileFormHandler.userType" value="registered" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.userType" value=" " type="hidden"><div class="required_disabled">


                                        <label for="email" class="required">Email Address<sup class="font-red">*</sup></label>
                                        <input id="returnEmail" maxlength="100" name="returnEmail" value="" onkeypress="callKey(event,'signInButton');" type="text" size="50"><input name="_D:returnEmail" value=" " type="hidden"></div>
                                        <div class="required_disabled">
                                            <label for="password" class="required">Password<sup class="font-red">*</sup></label>
                                            <input id="password" name="/atg/userprofiling/RCProfileFormHandler.value.password" value="" onkeypress="callKey(event,'signInButton');" type="password" size="50"><input name="_D:/atg/userprofiling/RCProfileFormHandler.value.password" value=" " type="hidden"></div>
                                        <div class="required_disabled">
                                            <div class="labelstd">
                                                <input id="rememberMe" name="/atg/userprofiling/RCProfileFormHandler.value.autoLogin" value="true" class="checkBox" type="checkbox" checked=""><input name="_D:/atg/userprofiling/RCProfileFormHandler.value.autoLogin" value=" " type="hidden"><label class="small" for="rememberMe">Remember me when using this computer.</label>
                                            </div>
                                        </div>
                                        <div class="required_disabled">
                                            <div class="button-group global-margin-top">
                                                <a title="Continue to next step" class="cta button ajaxForm" href="javascript:postAjaxStyle('loginForm','sign-in-modal',1,'undefined','undefined');" id="signInButton">
                                                    Sign In
                                                </a>
                                                <a id="forgotyourpasswordlink" class="button link fancybox forgotPassword" href="javascript:openDialog('forgotyourpasswordlinkForLogin')" data-query="">
                                                    Forgot your password?
                                                </a>
                                            </div>
                                        </div>
                                        <input name="/atg/userprofiling/RCProfileFormHandler.userRegistration" value="" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.userRegistration" value=" " type="hidden"></div><!-- PPNOTE: end loginSection -->
                                    <input name="_DARGS" value="/estore/responsive/en/usr/component/login.jsp.loginForm" type="hidden"></form><form id="registerForm" name="registerForm" action="?_DARGS=/estore/responsive/en/usr/component/login.jsp.registerForm#" method="POST"><input name="_dyncharset" value="ISO-8859-1" type="hidden"><input name="_dynSessConf" value="-2073924661865543673" type="hidden"><div id="registrationSection" style="display: none;">
                                <input name="/atg/userprofiling/RCProfileFormHandler.createSuccessURL" value="/estore/en/common/dialogSuccess.jsp?register=true" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.createSuccessURL" value=" " type="hidden"><input name="/atg/userprofiling/RCProfileFormHandler.createErrorURL" value="/estore/responsive/en/usr/component/login.jsp" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.createErrorURL" value=" " type="hidden">
                                <input name="/atg/userprofiling/RCProfileFormHandler.userType" value="newUser" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.userType" value=" " type="hidden">

                                <div class="required_disabled">
                                    <label for="userEmail" class="required">Email Address<sup class="font-red">*</sup></label>
                                    <input id="userEmail" maxlength="100" name="userEmail" value="" onkeypress="callKey(event,'createNewAccount');" type="text" autocomplete="off" size="50"><input name="_D:userEmail" value=" " type="hidden"></div>
                                <div class="required_disabled">
                                    <label for="confirmEmail" class="required">Confirm Email Address<sup class="font-red">*</sup></label>
                                    <input id="confirmEmail" maxlength="100" name="confirmEmail" value="" onkeypress="callKey(event,'createNewAccount');" type="text" autocomplete="off" size="50"><input name="_D:confirmEmail" value=" " type="hidden"></div>
                                <div class="required_disabled">
                                    <label for="userPassword" class="required">Password<sup class="font-red">*</sup></label>
                                    <input id="userPassword" maxlength="20" name="userPassword" value="" onkeypress="callKey(event,'createNewAccount');" type="password" autocomplete="off" size="50"><input name="_D:userPassword" value=" " type="hidden"></div>
                                <div class="required_disabled">
                                    <label for="userconfirmPassword" class="required">Confirm Password<sup class="font-red">*</sup></label>
                                    <input id="userconfirmPassword" maxlength="20" onpaste="return false" name="userconfirmPassword" value="" onkeydown="return (event.keyCode!=13);" onkeypress="callKey(event,'createNewAccount');" type="password" autocomplete="off" size="50"><input name="_D:userconfirmPassword" value=" " type="hidden"></div>



                                <div>
                                    <label for="securityQuestion">Security Question</label>
                                    <input name="_D:/atg/userprofiling/RCProfileFormHandler.question" value=" " type="hidden"><select id="challenge_question" name="/atg/userprofiling/RCProfileFormHandler.question"><option selected="" value="">Select
                                </option><option value="cq001">What was your childhood nickname?
                                </option><option value="cq002">What street did you live on in sixth grade?
                                </option><option value="cq003">What school did you attend for third grade?
                                </option><option value="cq004">What was your childhood phone number including area code?
                                </option><option value="cq005">What was the name of your favorite stuffed animal?
                                </option><option value="cq006">In what city or town did your mother and father meet?
                                </option><option value="cq007">What was the last name of your third grade teacher?
                                </option><option value="cq008">What is your maternal grandmother's maiden name?
                                </option><option value="cq009">What is the name of the place your wedding reception was held?
                                </option><option value="cq010">What is the name of your first pet?
                                </option><option value="cq011">What was the color of your first car?
                                </option><option value="cq012">When you were young, what did you want to be when you grew up?
                                </option></select></div>
                                <div class="row columns alpha omega">
                                    <label for="securityAnswer">Security Answer</label>
                                    <input id="securityAnswer" maxlength="60" onpaste="return false" name="/atg/userprofiling/RCProfileFormHandler.answer" value="" onkeydown="return (event.keyCode!=13);" onkeypress="callKey(event,'createNewAccount');" type="text" autocomplete="off" size="50"><input name="_D:/atg/userprofiling/RCProfileFormHandler.answer" value=" " type="hidden"></div>



                                <div>

                                    <div>
                                        <div class="labelstd">
                                            <input id="emailPreferences" name="emailPreferences" value="true" class="checkBox" type="checkbox" checked=""><input name="_D:emailPreferences" value=" " type="hidden"><label for="emailPreferences">Yes, please send me iPrint exclusive offers and promotions. See our


                                            <a id="privacyPolicyLink" href="/estore/en/common/policies/privacy.jsp" target="_blank">Privacy Policy</a>
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of SiteAttributeLookUpDroplet -->
                                <!-- AGE VALIDATION START -->


                                <!-- AGE VALIDATION END -->
                                <div class="global-margin-top">
                                    <a title="Continue to next step" class="cta button ajaxForm" href="javascript:postAjaxStyle('registerForm','sign-in-modal',1,'undefined','undefined');" id="createNewAccount"><span>Create a New Account</span></a>
                                    <input name="/atg/userprofiling/RCProfileFormHandler.registration" value="" type="hidden"><input name="_D:/atg/userprofiling/RCProfileFormHandler.registration" value=" " type="hidden"><input id="remindEmail" name="remindEmail" value="false" type="hidden"><input name="_D:remindEmail" value=" " type="hidden"></div>
                            </div> <!-- PPNOTE: end registrationSection div -->
                                <input name="_DARGS" value="/estore/responsive/en/usr/component/login.jsp.registerForm" type="hidden"></form></div>
                            <div style="display:none">
                                <div id="termsAndConditions-fBoxDiv" style="display:none;width:600px;">
                                </div>
                            </div>
                        </div>
                        <!-- end of large-9-->
                        <div class="large-4 columns">

                            <!-- OneColumnPage.jsp -->

                            <!-- richtext.jsp -->
                            <div class="grid_16 row">
                                <p><span class="cdn-wrap"><img data-image-filename="promo-sign-up-now.gif" data-image-path="/resources/store/images/" src="//cdn-uat.hc-retail.com/resources/store/images/promo-sign-up-now.gif" class="utk-cdn-complete"></span></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div> <!-- end of clearfix / body-content -->
        </div>
    </div>
</a.modal>