<div class="checkout-btn">
    <div style="padding: 1em;">
        <p style="font-size: 0.9em;">
            Does your order look correct? If so, go
            straight to checkout.
        </p>
        <a.buttongroup style="text-align:center; position: relative;top: 1em;font-size: inherit;">
            <a.button hollow="1" secondary="1" title="$30.88" style="cursor: default;font-weight: bold;margin-right: 1em"></a.button>
            <a.button title="PROCEED TO CHECKOUT"></a.button>
        </a.buttongroup>
    </div>
</div>