<div>
    <div>
        <h6 style="display: inline;">Address Printed on Check</h6>
        <a.button style="float: right" tiny="1" title="Edit"></a.button>
        <div style="border:1px solid rgb(208,208,208);margin-top: 0.5em; margin-bottom: 2em;">
            <div class="address-align" style="padding: 1em;">
                <span>Robert A. Williams</span>
                <span>1234 South Street</span>
                <span>San Antonio, TX</span>
                <span>78555</span>
            </div>
        </div>
    </div>
</div>