<div>
    <m.header step="CHECK DETAILS"></m.header>
    <div class="header-spacer"></div>
    <a.row style="padding-top: 1em;">
        <a.col sp="1" s="5">
            <a href="#" style="font-size: .9em;color: #000000;">< Back</a>
            <m.carousel style="padding: 1em 0;" src="../../assets/png/demo-checkdetails.png">
                <div slot="header">
                    <h5 style="display: inline;">University of Alabama</h5>
                    <span style="display: block;font-size: 0.9em;color: #b0b0b0;padding-bottom: 0.5em;">Collegiate checks</span>
                </div>
            </m.carousel>
            <m.description></m.description>
            <m.otherproducts src="../../assets/png/demo-blank.png" title="SIMILAR DESIGNS"></m.otherproducts>
        </a.col>
        <a.col sl="1" s="4">
                <div style="border:2px solid rgb(208,208,208); margin: 2em 0;">
                    <div>
                        <a.buttongroup style="text-align:center; position: relative;top: 1em;font-size: inherit;padding: 0 1em 1em 1em;">
                            <a.button hollow="1" secondary="1" title="$24.99" style="cursor: default;font-weight: bold;margin-right: 1em"></a.button>
                            <a.button title="START CUSTOMIZING"></a.button>
                        </a.buttongroup>
                    </div>
                </div>
                <div style="border:2px solid rgb(208,208,208); margin: 2em 0;">
                    <div style="padding: 1em;">
                        <m.checkstyle></m.checkstyle>
                        <m.quantity></m.quantity>
                    </div>
                </div>
        </a.col>
    </a.row>
    <m.footer></m.footer>
</div>
