<div>
    <a.row style="margin-bottom: 1em;">
        <a.col s="6">
            <h5>Summary</h5>
        </a.col>
        <a.col s="6">
            <a.button hollow="1" secondary="1" title="$59.86" style="float:right;cursor: default;font-weight: bold;"></a.button>
        </a.col>
    </a.row>
    <a.row>
        <a.col s="6">
            <p>ITEMS IN CART ( 1 )</p>
        </a.col>
        <a.col s="6">
            <div style="font-size: .9em;float: right;">
                <a href="#">Edit |</a><a href="#"> Remove</a>
            </div>
        </a.col>
    </a.row>
    <div style="border:2px solid rgb(208,208,208);">
        <a.row style="padding: 1em;">
            <a.col s="2">
                <img src="../../assets/png/demo-summary.png">
            </a.col>
            <a.col s="10">
                <a.row>
                    <a.col s="10" style="margin-bottom: 0.5em;">
                        <span style="font-weight: bold;">Tropical Eyes Checks</span>
                    </a.col>
                    <a.col s="2">
                        <span style="font-weight: bold;" class="float-right">$18.88</span>
                    </a.col>
                    <a.col s="10">
                        <span>200 Checks</span>
                    </a.col>
                    <a.col s="2">
                        <span class="float-right">$5.00</span>
                    </a.col>
                    <a.col s="10">
                        <span>Duplicates</span>
                    </a.col>
                    <a.col s="2">
                        <span class="float-right">$4.00</span>
                    </a.col>
                    <a.col s="10">
                        <span>FraudArmor</span>
                    </a.col>
                    <a.col s="2">
                        <span class="float-right">$3.00</span>
                    </a.col>
                </a.row>
            </a.col>
        </a.row>
    </div>
    <a.row style="margin-top: 2em;">
        <a.col>
            <a.button hollow="1" secondary="1" title="APPLY" style="float: right;"></a.button>
            <input type="number" placeholder="Enter Promo Code" style="width: 16em;display: inline;float: right;margin: 0.1em 1em 0 0;">
        </a.col>
    </a.row>
    <a.row>
        <a.col>
            <span style="float: right;font-weight: bold;">Subtotal:  $59.86</span>
        </a.col>
    </a.row>
    <a.row>
        <a.col>
            <a.button title="PROCEED TO CHECKOUT" style="float: right;margin-top: 1.5em;margin-bottom: 3em;"></a.button>
            <hr style="border:2px solid rgb(208,208,208);" />
        </a.col>
    </a.row>

</div>