<a.row>
    <a.col sc="1" s="4">
        <a.col s="6">
            <a href="http://www.bizrate.com/ratings_guide/cust_reviews__mid--892.html" target="_blank">
                <img src="//medals.bizrate.com/medals/dynamic/small/892_medal.gif" width="112" height="37" border="0" alt="See Our Reviews at Bizrate.com">
            </a>
        </a.col>
        <a.col s="6">
            <a target="_blank" href="http://www.bbb.org/central-texas/business-reviews/printers/iprint-systems-in-new-braunfels-tx-90102704">
                <img data-image-path="/resources/store/images/promo_products/" data-image-filename="bbb_online_seal.png" title="Click to verify BBB accreditation and to see a BBB report."
                     border="0" src="/resources/store/images/promo_products/bbb_online_seal.png"
                     alt="Click to verify BBB accreditation and to see a BBB report." width="135"
                     height="52" class="utk-cdn-complete">
            </a>
        </a.col>
        <a.col sc="1">
            <p style="text-align: center;position: relative;top:1em;">&#169 IPRINT 2017</p>
        </a.col>
    </a.col>
</a.row>