<div class="check-style-align" style="padding: 1em 0 0.5em 0;">
    <div>
        <h6>Check Style</h6>
        <a.buttongroup>
            <a.button style="margin-right: 5%" hollow="1" title="SINGLE"></a.button>
            <a.button hollow="1" secondary="1" title="SINGLE"></a.button>
            <a.button style="margin-right: 5%" hollow="1" secondary="1" title="TRIPLICATE"></a.button>
            <a.button hollow="1" secondary="1" title="QUADRUPLICATE"></a.button>
        </a.buttongroup>
    </div>
</div>