<div class="medium-6 columns">
    <div class="callout">
        <div class="row expanded columns">
            <div class="large-12 columns">
                <h1 id="safeCheckoutPage">Sign In for Safe and Secure Check Out</h1>
            </div>
        </div>
        <div class="row expanded columns">
            <div class="large-12 columns">
                Shop safe. All personal information you submit is encrypted and secure.
            </div>
        </div>

        <div class="row columns ">
            <div class="large-12 columns">
                <div class="expanded button-group round toggle-expanded">
                    <div class="button">
                        <input type="radio" name="customerType" value="new" class="radioButton" @click="view='register'" id="newCutomerTypeBtn" data-toggle="button">
                        <label class="button ajaxForm" for="newCutomerTypeBtn" id="newCutomerType">I'm a new customer</label>
                    </div>
                    <div class="button">
                        <input type="radio" name="customerType" value="returning" class="radioButton" checked="checked" @click="view='login'" id="returningCutomerTypeBtn"
                            data-toggle="button">
                        <label class="button ajaxForm" for="returningCutomerTypeBtn" id="returningCutomerType">Existing customer</label>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="view=='login'">
            <form>
                <div class="row columns">
                    <div class="medium-3 columns">
                        <label for="userName" class="font-normal">Email address<sup>*</sup></label>
                    </div>
                    <div class="medium-9 columns">
                        <input id="userName" name="userName" v-model="loginForm.login" type="text" autocomplete="off" size="50">
                    </div>
                    <div class="row columns required">
                        <div class="medium-3 columns">
                            <label for="password" class="font-normal">Password<sup>*</sup></label>
                        </div>
                        <div class="medium-9 columns">
                            <input id="password" name="password" v-model="loginForm.password" type="password" autocomplete="off" size="50">
                        </div>
                    </div>
                    <div class="row columns">
                        <div class="medium-3 columns">&nbsp;</div>
                        <div class="medium-9 columns labelstd">
                            <input type="checkbox" id="remember-me" v-model="loginForm.autologin" name="remember-me" value="yes">
                            <label for="remember-me" class="font-normal">Yes, remember me when using this computer.</label>
                        </div>
                    </div>
                    <div class="row columns button-action">
                        <div class="medium-3 columns">&nbsp;</div>
                        <div class="medium-9 columns">
                            <a title="Continue to next step" class="button ajaxForm margin-right-10px btn-target" @click="signin">Sign In</a>
                            <div>
                                <a href="#forgotPasswordBody" id="forgotPasswordLink" class="fancybox forgotPassword font-333333">forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div v-if="view=='register'">
            <form>
                <div class="row columns required">
                    <div class="grid_5">
                        <label for="email" class="font-normal">Email address<sup>*</sup></label>
                    </div>
                    <div class="grid_11">
                        <input id="email" v-model="registerForm.email" :class="{ 'is-invalid-input':registerForm.email!=createConfirmEmail}" maxlength="100" value="" type="text" autocomplete="off" size="50">
                    </div>
                </div>
                <div class="row columns">
                    <div class="grid_5">
                        <label for="confirm-email" class="font-normal">confirm email address<sup>*</sup></label>
                    </div>
                    <div class="grid_11">
                        <input id="confirm-email" v-model="createConfirmEmail" :class="{ 'is-invalid-input':registerForm.email!=createConfirmEmail}" maxlength="100" value="" type="text" autocomplete="off" size="50">
                    </div>
                </div>
                <div class="row columns">
                    <div class="grid_5">
                        <label for="createPassword" class="font-normal">password<sup>*</sup></label>
                    </div>
                    <div class="grid_11">
                        <input id="createPassword" :class="{ 'is-invalid-input':registerForm.password!=createConfirmPassword}" v-model="registerForm.password" maxlength="20" value="" type="password" autocomplete="off" size="50">
                    </div>
                </div>

                <div class="row columns">
                    <div class="grid_5">
                        <label for="createConfirmPassword" class="font-normal" >confirm password<sup>*</sup></label>
                    </div>
                    <div class="grid_11">
                        <input id="createConfirmPassword" v-model="createConfirmPassword" :class="{ 'is-invalid-input':registerForm.password!=createConfirmPassword}" maxlength="20" type="password" autocomplete="off" size="50">
                    </div>
                </div>

                <div class="row columns margin-bottom-10px">
                    <div class="grid_5">
                        <label for="securityQuestion">Security question</label>
                    </div>
                    <div class="grid_11">
                        <select id="securityQuestion" v-model="registerForm.question" style="width:289px">
                            <option selected="selected" value="">Select</option>
                            <option value="cq001">What was your childhood nickname?</option>
                            <option value="cq002">What street did you live on in sixth grade?</option>
                            <option value="cq003">What school did you attend for third grade?</option>
                            <option value="cq004">What was your childhood phone number including area code?</option>
                            <option value="cq005">What was the name of your favorite stuffed animal?</option>
                            <option value="cq006">In what city or town did your mother and father meet?</option>
                            <option value="cq007">What was the last name of your third grade teacher?</option>
                            <option value="cq008">What is your maternal grandmother's maiden name?</option>
                            <option value="cq009">What is the name of the place your wedding reception was held?</option>
                            <option value="cq010">What is the name of your first pet?</option>
                            <option value="cq011">What was the color of your first car?</option>
                            <option value="cq012">When you were young, what did you want to be when you grew up?</option>
                        </select>
                    </div>
                </div>

                <div class="row columns">
                    <div class="grid_5">
                        <label for="securityAnswer">security answer</label>
                    </div>
                    <div class="grid_11">
                        <input id="securityAnswer" v-model="registerForm.answer" maxlength="60" type="text" autocomplete="off" size="50">
                    </div>
                </div>

                <div class="row columns">
                    <div class="grid_5">
                        &nbsp;
                    </div>
                    <div class="grid_1">
                        <input id="sendEmailPromotions" name="customerType" v-model="registerForm.sendEmailPromotions" class="checkBox" type="checkbox">
                    </div>
                    <div class="grid_10">
                        <label for="sendEmailPromotions" class="font-normal">Yes, please send me iPrint exclusive offers and promotions.  See our <a id="privacyPolicyLink" href="/estore/responsive/en/common/policies/privacy.jsp" target="_blank">Privacy Policy</a></label>
                    </div>
                </div>

                <div class="row columns">
                    <div class="grid_5">&nbsp;</div>
                    <div class="grid_11">
                        <a title="Continue to next step" class="button ajaxForm" :disabled="createFormValid" @click="create">Create a New Account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>