<div>
    <h2>You may also like</h2>
    <div class="relatedcarousel">
        <div class="related__product-crosssells slick-initialized slick-slider" data-equalizer="g4st4w-equalizer" data-equalize-by-row="true" id="pdp-cards" data-resize="v2efe3-eq" data-mutate="55me0z-eq" data-events="mutate">
            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 880px; transform: translate3d(0px, 0px, 0px);"><div class="columns slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 220px;">
                <div class="product-container product-card" data-equalizer-watch="" style="height: 323px;">
                    <!-- end of CatalogItemLink -->
                    <a href="/estore/PROMOTIONAL+PRODUCTS/Technology/myCharge%C2%AE+AMPMINI+Portable+Charger/prod3380176_prd.p?navAction=jump&amp;networkId=store" tabindex="0">
                        <div><img src="/images/shared/catalog200x200/TECH1486755642/800_000000_p1-200x200.jpg" alt="myCharge® AMPMINI Portable Charger"></div>
                        <div class="detailblock">
                            <h5 class="product-name dot-ellipsis dot-height-50 dot-resize-update" style="word-wrap: break-word;">myCharge® AMPMINI Portable... </h5>
                            <div class="pd-card-utils">

                                <span class="pd-price"><strong><span class="price">$26.50 - $34.14</span></strong></span>

                                Minimum quantity 8
                            </div>
                        </div>
                    </a>
                    <!-- end of ProductLookup -->
                </div>
            </div><div class="columns slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 220px;">
                <div class="product-container product-card" data-equalizer-watch="" style="height: 323px;">
                    <!-- end of CatalogItemLink -->
                    <a href="/estore/PROMOTIONAL+PRODUCTS/Apparel/Gildan%C2%AE+Softstyle%C2%AE+Adult+T-Shirt/prod3451006_prd.p?navAction=jump&amp;networkId=store" tabindex="0">
                        <div><img src="/images/shared/catalog200x200/APPAREL1493822652/800_543d81_p1-200x200.jpg" alt="Gildan® Softstyle® Adult T-Shirt (Colors)"></div>
                        <div class="detailblock">
                            <h5 class="product-name dot-ellipsis dot-height-50 dot-resize-update" style="word-wrap: break-word;">Gildan® Softstyle® Adult T-Shirt... </h5>
                            <div class="pd-card-utils">

                                <span class="pd-price"><strong><span class="price">$3.95 - $16.69</span></strong></span>

                                Minimum quantity 12
                            </div>
                        </div>
                    </a>
                    <!-- end of ProductLookup -->
                </div>
            </div><div class="columns slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 220px;">
                <div class="product-container product-card" data-equalizer-watch="" style="height: 323px;">
                    <!-- end of CatalogItemLink -->
                    <a href="/estore/PROMOTIONAL+PRODUCTS/Pens+%26+Writing+/BIC%C2%AE+Emblem+Color+Pen/prod3250025_prd.p?navAction=jump&amp;networkId=store" tabindex="0">
                        <div><img src="/images/shared/catalog200x200/PEN1473866146/800_e7e26c_p1-200x200.jpg" alt="BIC Emblem Color Pen"></div>
                        <div class="detailblock">
                            <h5 class="product-name dot-ellipsis dot-height-50 dot-resize-update" style="word-wrap: break-word;">BIC Emblem Color Pen</h5>
                            <div class="pd-card-utils">

                                <span class="pd-price"><strong><span class="price">$0.63 - $0.86</span></strong></span>

                                Minimum quantity 300
                            </div>
                        </div>
                    </a>
                    <!-- end of ProductLookup -->
                </div>
            </div><div class="columns slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 220px;">
                <div class="product-container product-card" data-equalizer-watch="" style="height: 323px;">
                    <!-- end of CatalogItemLink -->
                    <a href="/estore/PROMOTIONAL+PRODUCTS/Bags/Eco+Non-Woven+Tote/prod3410137_prd.p?navAction=jump&amp;networkId=store" tabindex="0">
                        <div><img src="/images/shared/catalog200x200/BAGS1489441431/800_00559a_p1-200x200.jpg" alt="Eco Non-Woven Tote"></div>
                        <div class="detailblock">
                            <h5 class="product-name dot-ellipsis dot-height-50 dot-resize-update" style="word-wrap: break-word;">Eco Non-Woven Tote</h5>
                            <div class="pd-card-utils">

                                <span class="pd-price"><span class="price">$1.95 - $3.40</span> was $2.30 - $4.01</span>

                                Minimum quantity 50
                            </div>
                        </div>
                    </a>
                    <!-- end of ProductLookup -->
                </div>
            </div></div></div>
            <!-- end of ForEach -->
        </div>
    </div>
</div>