<div>
    <div class="medium-6 columns">
        <div class="callout">
            <div class="row expanded columns">
                <div class="large-12 columns">
                    <h2>Continue Without Signing In</h2>
                </div>
            </div>
            <div class="row expanded columns">
                <div class="large-12 columns">
                    No time right now?  No problem, check out as a guest.
                </div>
            </div>
            <form>
                
                <div class="row columns required">
                    <div class="medium-3 columns text-right">
                        <label for="guest-email" id="emailLabel" class="font-normal">email address<sup>*</sup></label>
                    </div>
                    <div class="medium-9 columns">
                        <input id="guest-email" v-model="guestForm.login" maxlength="100" type="text" autocomplete="off" size="50">
                    </div>
                </div>
                <div class="row columns">
                    <div class="medium-3 columns text-right">
                        &nbsp;
                    </div>
                    <div class="medium-9 columns labelstd">
                        <input id="optin" v-model="guestForm.optin" class="checkBox" type="checkbox" >
                        <label for="optin" class="font-normal">Yes, please send me iPrint exclusive offers and promotions.  See our


                            <a id="privacyPolicyLink" href="/estore/en/common/policies/privacy.jsp" target="_blank">Privacy Policy</a><br>
                        </label>
                    </div>
                </div>
                
                <br>
                <div class="row columns">
                    <div class="medium-3 columns">&nbsp;</div>
                    <div class="medium-9 columns">
                        <a title="Continue as a guest" :disabled="guestForm.login==''" class="button" @click="guest"><span>Check Out As Guest</span></a>
                    </div>
                </div>
                <input name="/atg/userprofiling/EditProfileFormHandler.guestCheckout" value="" type="hidden"><input name="_D:/atg/userprofiling/EditProfileFormHandler.guestCheckout" value=" " type="hidden"><div style="display:none"><input name="_DARGS" value="/estore/responsive/en/usr/reauthenticate/component/guestCheckOutFrag.jsp.guestCheckoutForm" type="hidden"> </div></form><div id="termsAndConditions-fBoxDiv" style="display:none;"></div>
        </div>
    </div>
    <!-- Signin Container Ends -->
    <div style="display: none;">
        <div id="termsAndConditions-fBoxDiv" style="display:none">
        </div>
    </div>
</div>