<div>
    <span class="walmartOmnitureShippingProductInfo" style="display:none">
        prod3130081_prd-Color Grip Tumbler;1;272.4
    </span>

    <div class="large-3 columns">
        <div class="payment-border-box clearfix">
            <h2>Your Order</h2>
            <div class="your-order-content">
                <table cellpadding="5" cellspacing="0">
                    <tbody><tr>
                        <td>Product Subtotal</td><td>$272.40</td>
                    </tr>



                    <tr>
                        <td>Sales Tax</td><td>$23.35</td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>$10.67</td>
                    </tr>
                    <tr class="order-total">
                        <td>Order Total</td><td>$306.42</td>
                    </tr>

                    </tbody></table>
            </div>
        </div><!-- end row -->
    </div>
</div>