<div class="grid_16 row my-account-panel">
    <!-- ==== Grid 16 ==== -->
    <div class="grid_16 row">
        <h2>Address Book</h2>
    </div>
    <!-- ==== End Grid 16 ==== -->

    <!-- ==== Grid 16 ==== -->
    <div class="grid_16 row">
        <div class="content-container clearfix">
            <div class="grid_6 contacts-list-left">
                <h3>
                    Contacts (<span class="contact_count">1</span>)
                </h3>
                <div class="cl-container">
                    <div class="buttons">
                        <a href="#fb-my-account-vendor" class="btn-blue float-right" id="btn-import-contacts">Import
                            Contacts</a>
                        <a href="#contact_add" class="btn-blue" id="btn-add-contact" onclick="setAnalytics('AddAddress','My Account')">Add
                            +</a>
                    </div>
                    <div class="search_contacts">
                        <div id="predictive-search_results" style="position: absolute; top: 43px; left: 5px;">
                            <ul></ul>
                        </div>
                        <form action="#">
                            <input type="text" name="csearch" id="csearch" size="40" autocomplete="off"> <input type="submit" class="btn-search" id="btn-csearch" disabled="disabled" title="Search Contacts">
                            <!-- <a href="#searchcontacts" class="btn-search" id="btn-csearch">Search</a> -->
                        </form>
                    </div>
                    <div class="div-cl-ul">
                        <ul><li class="hdr">C</li><li class="lnks"><a href="javascript:view_contact(0,'null');" id="0">Chen, Michael</a></li></ul>
                    </div>
                </div>
            </div>
            <div class="grid_10 contacts-list-right">
                <h3>Contact Details</h3>
                <div class="cl-container">
                    <div class="buttons">
                        <div class="btns-edit-delete">
                            <a href="#" class="button ajaxForm" id="btn-edit-contact" style="display: none;">Edit
                                Contact</a> &nbsp;&nbsp;
                            <a href="#delete-sc" class="btn-blue" id="btn-delete-contacts" style="display: none;">Delete Contact</a>
                        </div>
                        <div class="btns-cancel-save">
                            <a href="javascript:$.fancybox.close();" class="btn-secondary" id="btn-cancel-contacts" style="display: none;">Cancel</a> &nbsp;&nbsp; <a href="#" class="button ajaxForm" id="btn-save-contact" style="display: none;">Save</a>
                        </div>
                    </div>
                    <div class="div-cl-content">
                        <!--<div class="div-cl-content">-->
                        <p class="none-selected">Select a contact.</p>
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- ==== End Grid 16 ==== -->
    <script type="text/javascript">

		master_contact_array[0] = ["","Michael","Chen","","","5207","","San Antonio","TX","78249","(222)222-2222","143510","false","US","null","null"];
		$(function(){
			$("#btn-delete-contacts").hide();
			$("#btn-delete-contacts-shipping").hide();
			$("#btn-edit-contact").hide();
			$("#btn-cancel-contacts").hide();
			$("#btn-save-contact").hide();
			populate_address_book("null");
		});
    </script>
</div>