<div class="large-9 columns">
    <iframe id="iframe1" src="https://paymentprocessing.harlandclarke.com/PaymentProcessing/Gateway/AuthorizePayment.aspx?PaymentToken=5fb15fb1-0276-4de4-8c6f-6f5ea45d7d0e" style="width: 99%; height: 804px;" height="NaN" frameborder="0" marginwidth="0" marginheight="0" scrolling="no">
        &lt;p&gt;We're sorry, your web browser does not support iframes, which are required to pay and complete your order. Please call customer service or use the Chat link above for assistance.&lt;/p&gt;
    </iframe>
</div>
