<table border="0" id="cart-table">
    <colgroup>
        <col class="cart-pro-description-col">
        <col class="cart-quantity-col">
        <col class="cart-price-col">
    </colgroup>
    <tbody>
    <tr>
        <td colspan="3" class="confrim-ship-to">
            <span class="ship-to-label">shipping to:</span>
            <span class="confrim-ship-address">
                                Michael Chen,<br>
                                5555 King of Boxing,<br>
                                HC Test Order,<br>
                                San Antonio,<br>
                                TX<input type="hidden" id="omnitureShippingState" value="TX">

                                <div id="omnitureShippingCountry">
                                </div>
                                <div id="omnitureShippingZip">
                                78249</div>
                                <input type="hidden" id="omnitureShippingZip" value="78249">
                                </span>
        </td>
    </tr>
    <tr>
        <td class="pro-description">
            <div class="cart-img">
                <input type="hidden" value="ci1695000307" id="commerceItemIdCJ2">
                <input type="hidden" value="prod3130081_prd" id="productIdCJ2">
                <input type="hidden" value="0.0" id="itemCartAmtDisCJ2">
                <img src="https://www.iprint.com/services/UGCGetFileFromServer/2017/05/23/09/22/145518448/savedDesign/842259675/TMBLR1470173533_layout1_a82156f4.png?HCAuthToken=sTo0n%2BvC5vrAHcdf%2FFp5bCH0xvap6uCIOy%2B2K18wVizNSZw0k6gw%2FOIKEZh%2F1kYR%2BsnmNRr5ETE7_--K7URc7%2Fgyg%3D%3D&amp;HCAuthKeyRef=URL:8&amp;noCache=1495650392004" alt="Thumbnail image" width="120" onmouseover="TagToTip('tooltipci1695000307', PADDING, 6, BGCOLOR, '#ffffff')" onmouseout="UnTip()">
                <div>
                    <a class="font-333333" href="javascript:setAtrributeOnOpen('saveDesignLink','saveAsCommerceItemId=ci1695000307&amp;orderId=o115313541');">
                        [save this design]</a></div>
                <div class="margin-top-10px">

                </div>


                <div id="tooltipci1695000307" style="display:none" class="quickviewContainer">
                    <div class="quickview">
                        <img class="imgMain tooltip-img-hover" alt="Thumbnail image" src="https://www.iprint.com/services/UGCGetFileFromServer/2017/05/23/09/22/145518448/savedDesign/842259675/TMBLR1470173533_layout1_a82156f4.png?HCAuthToken=sTo0n%2BvC5vrAHcdf%2FFp5bCH0xvap6uCIOy%2B2K18wVizNSZw0k6gw%2FOIKEZh%2F1kYR%2BsnmNRr5ETE7_--K7URc7%2Fgyg%3D%3D&amp;HCAuthKeyRef=URL:8&amp;noCache=1495650392004">
                    </div>
                </div>
            </div>
            <div class="cart-pro-info-container">
                <div class="cart-ship-option">
                    <span class="shopping-cart-item bold">Color Grip Tumbler &nbsp;</span>
                    <span class="shopping-cart-item"><strong>item # </strong>ci1695000307</span>
                </div>

                <div class="cart-ship-option">

                    <span class="ship-option">One-time setup fee</span>


                </div>

                <div class="cart-ship-option">
                </div>
                <div class="cart-ship-option">
                                        <span class="shopping-cart-item">Shipping:
                                        <span class="ship-option">
                                        &nbsp;UPS Ground
                                        <span class="walmartOmnitureShippingProductInfo" style="display:none">

                                        <!-- discount share for each item for site catalyst - Begin -->
                                        <c:if test="false">
                                        </c:if>
                                            <!-- discount share for each item for site catalyst - end -->
                                            <!-- base sku price for site catalyst - Begin -->
                                            <!-- base sku price for site catalyst - End -->
                                            <!-- Apparel sku Id's for site Catalyst Start  -->
                                            <!-- Apparel sku Id's for site Catalyst End  -->
                                        Drinkware;prod3130081_prd-Color Grip Tumbler;1;222.4|evar31=UPS Ground
                                        ,Upgrade;Set Up Fee-One-time setup fee;1;50.0;;,Discount;Promotional Discount;;;event14=0.0,
                                        </span>
                                        </span>
                                        </span>


                    <span class="shopping-cart-item">Est delivery by
                                        Wednesday, 06/07</span>
                </div>
            </div>
        </td>
        <td class="cart-quantity">
            <div class="cart-ship-option">
                                    <span class="shopping-cart-item item-qty">
                                    <strong>QTY:</strong>
                                    24
                                    <input type="hidden" value="24" id="quantityCJ2">

                                    <input type="hidden" value="0.0" id="itemCartAmtCJ2">
                                    </span>
            </div>
        </td>
        <td class="cart-price">
                                <span class="shopping-cart-item item-price">
                                <!-- Start Base price display -->
                                $222.40
                                    <!-- End Base price display -->
                                </span>
            <div class="cart-ship-option">
                <span class="shopping-cart-item sub-price">$50.00</span>
            </div>
        </td>
    </tr>
    </tbody>
</table>